@import "mobile/topic-view";

html .nav-pills>li>a {
  opacity: 1;
}

.top-section .top-sub-section li,
.top-section .top-sub-section p {
  margin-right: 0;
}

.user-main .user-content {
  background-color: transparent;
}

// user preferences
.control-group {
  width: unset;
}

.topic-list .topic-list-item td.topic-list-data {
  padding: 5px 5px;
}

.alert {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.topic-list-item.highlighted,
tr.highlighted,
.topic-body.highlighted {
  animation: none;
}

.full-width .contents,
.loading-container {
  .topic-list .topic-list-body tr.topic-list-item {
    box-shadow: -2px 0 var(--quaternary);
    &:hover {
      box-shadow: -2px 0 var(--quaternary);
    }
  }
}

// category boxes
.category-boxes .category-box:nth-child(odd) {
  margin-right: 0;
}

.categories-and-latest div.column.categories {
  margin-top: 3.5em;
}

// topic list
.topic-item-stats {
  .clearfix {
    display: none;
  }
}

.topic-item-stats.clearfix::before,
.topic-item-stats.clearfix::after {
  display: none;
}

.full-width
  .contents
  .topic-list
  .topic-list-body
  .topic-list-item
  .topic-list-data.posts {
  float: right;
  padding-right: 0.5em;
}

.topic-list .topic-list-item .topic-list-data {
  padding: unset;
}

.full-width .contents .topic-list .topic-list-item .posts-map .number {
  margin-right: 0;
}

.topic-list .topic-item-stats .category a {
  max-width: 180px;
}

.categories-list .list-container {
  padding-top: 0 !important;
}

.topic-map {
  margin: 0;
}

html body #main-outlet {
  padding: 0.5em !important;
  margin: 0;
}

html body.static-tos #main-outlet,
html body.static-privacy #main-outlet,
html body.about-page #main-outlet,
html body.static-faq #main-outlet,
html body.tags-page #main-outlet,
html body.badges-page #main-outlet,
html body.archetype-regular #main-outlet,
html body.archetype-private_message #main-outlet,
html body.admin-interface #main-outlet,
html body.user-summary-page #main-outlet,
html body.user-activity-page #main-outlet,
html body.user-invites-page #main-outlet,
html body.user-preferences-page #main-outlet,
html body.staff:not(.navigation-topics) #main-outlet {
  width: calc(100% - 1em) !important;
  background: transparent;
}

.container.posts > .row {
  max-width: calc(100vw - 1em) !important;
}
