<div class="column">
  {{categories-topic-list topics=topics filter="latest" class="latest-topic-list"}}
</div>

<div class="column categories">
  <a id="home-page-categories">
    {{categories-boxes categories=categories}}
  </a>
</div>

{{plugin-outlet name="extra-categories-column" tagName=""}}
