@import url(https://fonts.googleapis.com/css?family=Rajdhani);
$primary-very-low: mix($color-1: #fff, $color-2: #2c1d58, $weight: 3%);
$primary-low: mix($color-1: #fff, $color-2: #2c1d58, $weight: 10%);
$primary-low-mid: mix($color-1: #fff, $color-2: #2c1d58, $weight: 30%);
$primary-medium: mix($color-1: #fff, $color-2: #2c1d58, $weight: 50%);
$primary-high: mix($color-1: #fff, $color-2: #2c1d58, $weight: 70%);
$primary-very-high: mix($color-1: #fff, $color-2: #2c1d58, $weight: 85%);

:root {
  --main-background-color: #221746;
  --layer-1-color: #362469;
  --card-hover: #412379;

  --primary-very-low: #{$primary-very-low};
  --primary-low: #{$primary-low};
  --primary-low-mid: #{$primary-low-mid};
  --primary-medium: #{$primary-medium};
  --primary-high: #{$primary-high};
  --primary-very-high: #{$primary-very-high};
}

.btn,
.btn:hover,
.btn .d-icon,
.btn:hover .d-icon {
  color: var(--primary) !important;
}

.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover, .select-kit .select-kit-row.is-selected, .select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--highlight);
}

.admin-customize .themes-list-header {
  border: 1px solid var(--primary-low);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: none;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
}

.tab {
  background-color: transparent;
  border: transparent;

  &.active {
    background-color: var(--primary-low);
  }

  &:hover {
    background-color: var(--primary-high) !important;
  }
}

html, h1, h2, h3, h4, h5, h6, hr {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

html body #main-outlet,
.published-page-content-wrapper {
  border-radius: 0.5em;
}

body .background-container {
  background: var(--main-background-color) !important;
  clip-path: none !important;
}

// admin nav pills
.nav-pills>li>a {
  opacity: 0.4;
  &:hover {
    &:not(.active) {
      background: transparent !important;
      opacity: 1;
    }
  }
  &.active {
    opacity: 1;
  }
}

.admin-controls, .admin-controls nav {
  background-color: transparent;
}

.admin-controls .nav-pills>li>a {
  margin-left: 0.5em;
  background-color: var(--main-background-color);

  &:hover {
    color: var(--primary);
  }
}

.admin-actions button {
  margin-left: 0.5em;
}

.admin-controls nav:before, .admin-controls nav:after {
  content: unset;
}

.admin-controls nav {
  border-radius: 0.5em;
}

// topic list
.full-width .contents, .loading-container {
  .topic-list {
    border-collapse: separate;
    border-spacing: 0 0.5em;

    .topic-list-item {
      width: 100%;
      td:first-child {
        padding-left: 0.5em;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        padding-right: 0.5em;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.topic-list .topic-list-item td.topic-list-data {
  padding: 0 5px;
}

td.topic-list-data.num.views {
  display: block;
  order: 4;
}

.topic-list-body .topic-list-data.num.views {
  line-height: 3.5;
  align-self: center;
}

.loading-container .topic-list .views {
  width: unset;
}

.full-width .contents .topic-list .topic-list-body .topic-list-item .topic-list-data.age, .loading-container .topic-list .topic-list-body .topic-list-item .topic-list-data.age, .topic-list-data.num.activity {
  order: 5;
}

.topic-map {
  background: none;
}

.full-width .contents, .loading-container {
  .topic-list .topic-list-body tr.topic-list-item {
    border-radius: 0.5em;
    border: none;
    background-color: var(--layer-1-color);
    box-shadow: -4px 0 var(--quaternary);
    &.visited {
      border: none;
      box-shadow: none;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      background-color: #412379;
      border: none !important;
      transition: 20ms ease-in !important;
    }
    // to be removed
    .topic-excerpt {
      display: none;
    }
    // to be removed end
  }
}

// topic list end

.footer-message {
  color: var(--primary-medium);
}

.nav-pills>li a.active {
  color: var(--primary);
}

.nav-pills>li a:hover {
  color: var(--primary);
}

.content-list ul li a {
  color: var(--primary-medium);
}

// badges
.badge-card {
  border: none;
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
}

.badge-groups {
  color: var(--primary-medium);
}

// user stat
.stats-section li {
  text-align: center;
  padding: 0.5em;
  background-color: var(--layer-1-color);
  border-radius: 0.5em;

  .user-stat {
    display: grid;
  }
}

.stats-section li.linked-stat a {
  padding: 0.5em 14px 0.5em 0;
}

.top-section .top-sub-section {
  li {
    background-color: var(--layer-1-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em 2em 0.5em 0;
    border: none;
  }
}

// user preferences
.control-group {
  width: 550px;
}

// user activity notifications
.user-stream .item, .user-stream .user-stream-item, .user-invite-none, .form-vertical .control-group, html .topic-map .map, html .topic-map .topic-map-expanded section, .topic-body .contents, .topic-body .topic-meta-data, .small-action div:not(.topic-avatar), .top-categories-section table tr { 
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  margin-bottom: 0.5em;
}

.user-content .user-notifications-filter {
  border: none;
}

// group members list
.group-members {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  
  tbody tr, .group-member {
    margin-bottom: 0.5em;
    border: none;
    background-color: var(--layer-1-color);
    border-radius: 0.5em;
    td.avatar {
      padding: 0.5em;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }

    td:last-of-type {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}

.post-notice, .topic-body, .topic-map, .topic-map section, .small-action, .topic-timer-info, .archetype-private_message .topic-body .cooked {
  border: none;
}

.topic-body .contents {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

.topic-avatar {
  border: none;
  margin-right: 0.75em;
}

.topic-map {
  margin-bottom: 0;
  margin-left: 0;
}

.archetype-private_message .topic-map {
  padding-right: 0;
  padding-left: 1.5em;
}

.archetype-private_message .topic-body .cooked {
  margin-top: 0;
}

.topic-body .topic-meta-data {
  padding: 0.5em 0.75em;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topic-post {
  min-height: 0 !important;
}

// html .topic-map .map, html .topic-map .topic-map-expanded section {
//   background-color: var(--main-background-color);
// }
.topic-map .buttons .btn {
  background: transparent;
}

.select-kit .select-kit-row.is-highlighted {
  background: var(--card-hover);
}

.small-action {
  max-width: 768px;
  div:not(.topic-avatar) {
    padding: 0.75em;
    .custom-message {
      padding: 0;
    }
  }
}

.topic-above-footer-buttons-outlet.presence {
  min-height: 0;
}

.archetype-private_message .current-user-post:not(.moderator) .topic-body .cooked {
  background: unset;
}

.topic-body.highlighted, .archetype-private_message .topic-body.highlighted .cooked {
  animation: none;
}

.alert {
  border-radius: 0.5em;

  &.alert-info {
    background-color: var(--highlight);
  }
}

// admin
.version-check, .admin-report, .dashboard .misc, .dashboard-next .misc, .dashboard-reports .report, .settings .setting, .admin-contents table.grid :not(thead) tr {
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  margin-bottom: 0.5em;
}

.admin-customize .theme.settings .theme-setting:not(.control-unit) {
  padding: 0;
  margin: 0;
}

.admin-customize .theme.settings .theme-setting {
  padding-bottom: 1em;
}

.admin-report.activity-metrics div, .counters-list .admin-report .main {
  border: none;
  padding: unset;
}

.admin-contents table, .top-categories-section table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  td:first-child {
    padding-left: 0.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  td:last-child {
    padding-right: 0.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.top-categories-section table tbody {
  border: none;
}

.version-checks .section-title, .dashboard .navigation, .dashboard-next .navigation, .dashboard .section .section-title, .dashboard-next .section .section-title, .version-checks .section-title, .dashboard .navigation, .dashboard-next .navigation, .admin-report-table .table, .admin-detail {
  border: none;
}