@import url(https://fonts.googleapis.com/css?family=Rajdhani);
$primary-very-low: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 3%,
);
$primary-low: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 10%,
);
$primary-low-mid: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 30%,
);
$primary-medium: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 50%,
);
$primary-high: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 70%,
);
$primary-very-high: mix(
  $color-1: #fff,
  $color-2: #2c1d58,
  $weight: 85%,
);

:root {
  --main-background-color: #221746;
  --layer-1-color: #362469;
  --card-hover: #412379;
  --secondary: #2c1d58;
  --primary: #ffffff;
  --tertiary: #f33059;
  --quaternary: #943dff;
  --header_background: #2c1d58;
  --header_primary: #ffffff;
  --highlight: #ff426a;
  --danger: #ff426a;
  --success: #3d854d;
  --love: #9d256b;

  --primary-very-low: #{$primary-very-low};
  --primary-low: #{$primary-low};
  --primary-low-mid: #4d378e;
  // --primary-low-mid: #{$primary-low-mid};
  --primary-medium: #{$primary-medium};
  --primary-high: #{$primary-high};
  --primary-very-high: #{$primary-very-high};
}

.show-more .alert {
  margin-top: 1em;
}

.btn-flat .d-icon,
nav.post-controls .actions a,
nav.post-controls .actions button,
nav.post-controls .actions button.create .d-icon {
  color: var(--primary);
}

.btn,
.btn:hover,
.btn .d-icon,
.btn:hover .d-icon {
  color: var(--primary) !important;
}

.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover,
.user-menu .quick-access-panel li:hover,
.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: var(--card-hover);
}

.select-kit .select-kit-row.is-selected,
.select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--card-hover);

  .d-icon {
    color: var(--primary);
  }
}

.admin-customize .themes-list-header {
  border: 1px solid var(--primary-low);
}

.admin-customize .themes-list-container .themes-list-item.selected,
.admin-customize .themes-list-container .themes-list-item .info {
  color: var(--primary);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: none;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
}

.tab {
  background-color: transparent;
  border: transparent;

  &.active {
    background-color: var(--primary-low);
  }

  &:hover {
    background-color: var(--primary-high) !important;
  }
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
code {
  font-family: "Rajdhani", sans-serif;
}

#create-topic {
  background-color: var(--tertiary);

  &:hover {
    background-color: var(--highlight);
  }
}

.hljs,
blockquote,
.onebox {
  border-radius: 0.5em;
}

.post-notice .d-icon {
  margin-right: 0.5em;
}

aside.quote .title {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

aside.quote blockquote {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

html body #main-outlet,
.published-page-content-wrapper {
  border-radius: 0.5em;
}

body .background-container {
  background: var(--main-background-color) !important;
  clip-path: none !important;
}

// admin nav pills
html .nav-pills > li > a {
  opacity: 0.4;
  &:hover {
    &:not(.active) {
      background: none;
      opacity: 1;
    }
  }
  &:not(.active) {
    &:hover {
      background: none;
    }
  }
  &.active {
    opacity: 1;
  }
}

.admin-controls,
.admin-controls nav {
  background-color: transparent;
}

.admin-controls .nav-pills > li > a {
  opacity: 1;
  margin-left: 0.5em;
  background-color: var(--main-background-color);
  color: var(--primary-medium);
  &:hover {
    background-color: var(--main-background-color);
    color: var(--primary);
  }
}

.admin-actions button {
  margin-left: 0.5em;
}

.admin-controls nav:before,
.admin-controls nav:after {
  content: unset;
}

.admin-controls nav {
  border-radius: 0.5em;
}

// topic list end

.footer-message {
  color: var(--primary-medium);
}

.nav-pills > li a.active {
  color: var(--primary);
}

.nav-pills > li a:hover {
  color: var(--primary);
}

.content-list ul li a {
  color: var(--primary-medium);
}

// badges
.badge-card {
  border: none;
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
}

.badge-groups {
  color: var(--primary-medium);
}

// user stat
.stats-section li {
  text-align: center;
  padding: 0.5em;
  background-color: var(--layer-1-color);
  border-radius: 0.5em;

  .user-stat {
    display: grid;
  }
}

.stats-section li.linked-stat a {
  padding: 0.5em 14px 0.5em 0;
}

.top-section .top-sub-section {
  li {
    background-color: var(--layer-1-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em 2em 0.5em 0;
    border: none;
  }
}

// user preferences
.control-group {
  width: 550px;
}

// user activity notifications
.user-stream .item,
.user-stream .user-stream-item,
.user-invite-none,
.form-vertical .control-group,
.top-categories-section table tr,
.user-main .staff-counters {
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  margin-bottom: 0.5em;
}

.user-stream .notifications {
  &:hover {
    cursor: pointer;
  }

  .notification:hover {
    background-color: var(--card-hover);
  }
}

.user-menu .quick-access-panel li:not(.show-all) {
  border-radius: 0.5em;
  background-color: var(--layer-1-color);
  margin-bottom: 0.25em;

  &:hover {
    background-color: var(--card-hover);
  }
}

.user-menu #quick-access-notifications li:not(.show-all) {
  &:not(.read) {
    box-shadow: -2px 0 var(--quaternary);
    background-color: var(--layer-1-color);
    margin-left: 4px;
    width: calc(100% - 4px);

    &:hover {
      background-color: var(--card-hover);
    }
  }
}

.user-stream .notification.unread {
  background-color: var(--layer-1-color);
  box-shadow: -4px 0 var(--quaternary);
  &:hover {
    cursor: pointer;
    background-color: var(--card-hover);
  }
}

.user-content .user-notifications-filter {
  border: none;
}

// group members list
.group-members {
  border-collapse: separate;
  border-spacing: 0 0.5em;

  tbody tr,
  .group-member {
    margin-bottom: 0.5em;
    border: none;
    background-color: var(--layer-1-color);
    border-radius: 0.5em;
    td.avatar {
      padding: 0.5em;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }

    td:last-of-type {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}

.select-kit .select-kit-row.is-highlighted {
  background: var(--card-hover);
}

.topic-above-footer-buttons-outlet.presence {
  min-height: 0;
}

.alert {
  border-radius: 0.5em;
  margin-top: 0;
  color: var(--primary);

  &.alert-info {
    &.clickable {
      color: var(--primary);
    }
  }
}

// admin
.version-check,
.admin-report,
.dashboard .misc,
.dashboard-next .misc,
.dashboard-reports .report,
.settings .setting,
.admin-contents table.grid :not(thead) tr {
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  margin-bottom: 0.5em;
}

.admin-customize .theme.settings .theme-setting:not(.control-unit) {
  padding: 0;
  margin: 0;
}

.admin-customize .theme.settings .theme-setting {
  padding-bottom: 1em;
}

.admin-report.activity-metrics div,
.counters-list .admin-report .main {
  border: none;
  padding: unset;
}

.admin-contents table,
.top-categories-section table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  td:first-child {
    padding-left: 0.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  td:last-child {
    padding-right: 0.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.top-categories-section table tbody {
  border: none;
}

.version-checks .section-title,
.dashboard .navigation,
.dashboard-next .navigation,
.dashboard .section .section-title,
.dashboard-next .section .section-title,
.version-checks .section-title,
.dashboard .navigation,
.dashboard-next .navigation,
.admin-report-table .table,
.admin-detail {
  border: none;
}

.voting {
  padding-top: 0;

  .vote-count-wrapper {
    border-radius: 0.5em;
  }
}

// categories & latest topics
.categories-and-latest div.column.categories {
  order: 2;
  margin: 0;
}

.categories-and-latest div.column:not(.categories) {
  width: 100%;
  flex: unset;
}

// category boxes
.category-boxes .category-box {
  width: 48%;
  border-radius: 0.5em;
  background-color: var(--layer-1-color);
  margin: 0 0 1.5em 0;

  &:nth-child(odd) {
    margin-right: 4%;
  }

  &:hover {
    background-color: var(--card-hover);
  }

  .category-box-heading {
    margin-bottom: 1em;
  }
}

.category-boxes .category-box .category-box-inner {
  border: none;
}

.category-boxes .description {
  color: var(--primary-medium);
  text-align: start;
}

.category-boxes h3 {
  text-align: start;
}

.category-boxes .subcategories .subcategory .subcategory-image-placeholder {
  margin-left: 0;
}

.first.new-user:not(.staff) a {
  color: var(--primary-high-or-secondary-low);
}

.bookmark-with-reminder.modal .modal-body {
  width: 580px;
}

.select-kit.single-select.dropdown-select-box .select-kit-row .texts .desc {
  color: unset;
}

.posts-filtered-notice {
  margin-left: calc(45px + 0.75em);
  max-width: unset;
  border-radius: 0.5em;
}

.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper {
  border-color: var(--primary-low-mid);
}

.settings .setting.overridden h3 {
  color: var(--tertiary);
}

.deleted .regular > .cooked {
  background-color: transparent;
}

a.topic-featured-link {
  color: var(--primary);
}

.edit-topic-timer-modal .modal-body {
  width: unset;
}

.user-main .staff-counters > div,
.user-main .staff-counters > div a {
  color: var(--primary);
}

#topic-progress .bg {
  background-color: var(--main-background-color);
}

.select-kit.dropdown-select-box.period-chooser
  .period-chooser-row
  .top-date-string,
.select-kit.dropdown-select-box.period-chooser
  .period-chooser-header
  h2.selected-name
  .top-date-string {
  color: var(--primary-high);
}

// footer
.custom-footer .first-box .heading::before {
  content: "";
  width: 11em;
  height: 4em;
  padding: 2em 5.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11em;
  background-image: url(https://festingervaultcommunityuploads.s3.dualstack.eu-central-1.amazonaws.com/original/1X/b0f3b8e0fe34ebf1f59a2009cd6e0cad03e91ba5.png);
}

.custom-footer .first-box .heading {
  margin-bottom: 2em;
}

.custom-footer {
  background-color: var(--secondary);
}

.custom-footer .list span {
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
}

.custom-footer .second-box .links ul {
  margin-top: 2em;
}

.custom-footer .first-box .blurb,
.custom-footer .footer-section-link-wrapper a {
  color: #9388cc;
}

.custom-footer .third-box .social .social-link .d-icon {
  color: var(--tertiary);
}

.custom-footer .footer-links {
  flex: 0;
}

.selected-posts {
  border: 1px solid var(--primary-low-mid);
  background-color: var(--secondary);
}
