// topic view
.topic-post article:not([id="post_1"]),
.topic-post article[id="post_1"] .topic-body .contents,
.topic-map .map,
.topic-map .topic-map-expanded section,
.small-action,
.gap,
.post-notice {
  background-color: var(--layer-1-color);
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: none;
}

.topic-post article[id="post_1"] .topic-body .contents {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.archetype-private_message
  .topic-post
  article:not([id="post_1"])
  .topic-body
  .cooked {
  padding: 1.5em 0 0 0;
}

.archetype-private_message
  .topic-post
  article[id="post_1"]
  .topic-body
  .cooked {
  padding: 0;
}

.topic-post article[id="post_1"] .topic-meta-data {
  background-color: var(--layer-1-color);
  height: 51px;
  padding: 0.5em 0.5em 0 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0;
  border: none;
}

.topic-post article[id="post_1"] .topic-avatar {
  background-color: var(--layer-1-color);
  height: 50px;
  padding: 0.5em 0.5em 0 0.5em;
  border-top-left-radius: 0.5em;
  margin: 0;
  border: none;
}

.small-action,
.topic-post article {
  padding: 0;
}

.topic-map,
.topic-map .topic-map-expanded section,
.topic-map section,
.topic-post article,
.topic-timer-info {
  border: none;
}

.topic-map,
.archetype-private_message
  .current-user-post:not(.moderator)
  .topic-body
  .cooked {
  background: none;
}

.archetype-private_message .topic-body .cooked {
  border: none;
  margin-top: 0;
}

.archetype-private_message .topic-map {
  padding: 0;
  margin-top: 0;
}

.archetype-private_message .small-action:not(.time-gap) {
  padding: 0.5em;
}

.archetype-private_message .topic-post {
  margin-bottom: 0.5em;
}

.archetype-private_message .topic-post {
  margin: 0;
}

.gap {
  color: var(--primary);
}

.list-controls .navigation-container {
  margin-top: 0.5em;
}

.voting {
  margin-bottom: 0.5em;
}

.post-notice {
  background-color: var(--layer-1-color);
}

.topic-post.deleted article:not([id="post_1"]) {
  background-color: var(--danger-low-mid);
}
